{% for style in result.styles %}
    {% if style.type == 'hidden' %}
        {% include 'backend/component/hidden.twig' with {data: data, style: style} only %}
    {% else %}
        <div class="form-group">
            <label>
                {% if style.required %}
                    <span class="text-danger">*</span>
                {% endif %}
                {{ style.label }}
            </label>
            <span class="invalid-feedback" data-name="{{ style.name }}"></span>
            {% include 'backend/component/' ~ style.type ~ '.twig' with {data: data, style: style} only %}
            <span class="text-secondary text-xs">{{ style.remark }}</span>
        </div>
    {% endif %}
{% endfor %}
