<div class="no-gutters row">
    <div class="col p-0">
        <div class="embed-responsive embed-responsive-{{ ratio }}">
            <iframe allow="autoplay" allowfullscreen class="embed-responsive-item" src="{{ video|video(platform, autoplay, controls)|raw }}"></iframe>
        </div>
    </div>
</div>
