{% if style.relation %}
    {% set id, path = data[style.relation.column.name()], style.column.path | default(style.relation.alias) %}
{% else %}
    {% set id, path = data.id, controller.node %}
{% endif %}
<button class="btn btn-link p-0" data-ajax="{{ path }}/{{ id }}" data-args="modal">{{ data[style.name] }}</button>
