{% if style.readonly %}
    <div class="input-group">
        <div class="color-picker">
            <span class="input-group-text" style="background-color: {{ data[style.name]|default('transparent') }};">&nbsp;&nbsp;&nbsp;</span>
        </div>
    </div>
{% else %}
    <div class="input-group" data-format="color">
        {% include 'backend/component/input.twig' with {type: 'text'} %}
        <div class="color-picker input-group-append">
            <span class="input-group-text">&nbsp;&nbsp;&nbsp;</span>
        </div>
    </div>
{% endif %}
