{% if style.readonly %}
    <div class="py-2"><a href="mailto:{{ data[style.name] }}" target="_blank">{{ data[style.name] }}</a></div>
{% else %}
    {% include 'backend/component/input.twig' with {type: 'email'} %}
{% endif %}
