{% if style.readonly %}
    <div class="py-2">{{ data[style.name] }}</div>
{% else %}
    {% include 'backend/component/input.twig' with {format: 'datetime', pattern: datetime_format(style.pattern), type: 'text'} %}
{% endif %}
