@import url(overlay.css);

td, th {
    white-space: nowrap;
}

td input[type=number] {
    min-width: 8rem;
}

th a, th:hover a {
    color: inherit;
}

.color-picker {
    background-image: url(img/transparent.jpg);
}

.color-picker .input-group-text {
    background-color: transparent;
}

.content-wrapper {
    background-image: url(img/redox-02.png);
}

.dropdown-menu {
    min-width: 1rem;
}

.image-preview {
    display: inline-block;
    max-width: calc(100% - 60px);
}

.image-preview img {
    background-image: url(img/transparent.jpg);
    max-height: 200px;
    max-width: 100%;
}

.modal-wrapper .operators {
    display: none;
}

.nav-link:not([href]) {
    cursor: pointer;
}

.table .image-preview img {
    max-width: 200px;
}

.table td {
    vertical-align: middle;
}

.table-hover tbody tr:hover td {
    background-color: azure;
}

.wrapper .main-sidebar {
    background-image: url(img/always-grey.png);
}

.w-1 {
    width: 1%;
}

@media (min-width: 1600px) {
    .form-wrapper {
        column-count: 2;
    }

    .form-wrapper > div {
        break-inside: avoid;
    }
}
